* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/Fondo/descarga.jpeg");
} 

.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloIndex {
    font-family: 'MedievalSharp', cursive;
    text-shadow:  5px 5px 5px black;
}
.container-titulo{
    background-image: url(../img/Fondo/9\ hermosas\ texturas\ de\ madera\ gratis.jpeg);
    background-position: center;
    color: #fff;
    margin: 5%;
    box-shadow: 10px 5px 5px black;
    padding: 1%;
    border-radius: 12%;
}

/*<----------------- Loguin ------------------>*/
.container-form {
    width: 30%;
    background-color: #978f84;
    padding: 3%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-loguin {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7ae8f;
    margin: auto;
    margin-top: 10%; /* Ajusta este valor según tu diseño */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mainLoguin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* filtro  del buscador*/
.filtro{
    display: none;
}