* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/Fondo/descarga.jpeg");
} 

.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloIndex {
    font-family: 'MedievalSharp', cursive;
    text-shadow:  5px 5px 5px black;
}
.container-titulo{
    background-image: url(../img/Fondo/9\ hermosas\ texturas\ de\ madera\ gratis.jpeg);
    background-position: center;
    color: #fff;
    margin: 5%;
    box-shadow: 10px 5px 5px black;
    padding: 1%;
    border-radius: 12%;
}

/*<----------------- Loguin ------------------>*/
.container-form {
    width: 30%;
    background-color: #978f84;
    padding: 3%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-loguin {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7ae8f;
    margin: auto;
    margin-top: 10%; /* Ajusta este valor según tu diseño */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mainLoguin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* filtro  del buscador*/
.filtro{
    display: none;
}

/* container row */

.contenedorItems{
width: 100%;
display: flex;
flex-wrap: wrap;
}

.card{
    margin: 10px;
    width: 16rem;
}

/* Drop Down*/

.dropDown-btn{

    background-color: rgba(127, 255, 212, 0);
    color: white;
    padding: 12px;
    border: solid rgb(80, 80, 80) 1px;
    border-radius: 10px;
    width: 60px;
    margin-right: 10px;
}

.dropDown{
    position: relative;
    display:inline-block;
}
.dropDown-content{
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 160px;
    border: rgb(70, 153, 207) solid 1px;
    box-shadow: 0 0 5px 5px rgb(43, 79, 104);
    border-radius: 7%;
}
.dropDown-content div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block  ;
    font-size: larger;
    font-family: 'MedievalSharp', cursive;
}


.dropDown-content div:hover{
    background-color: #f1f1f1;
    border-radius: 7%;
}

.dropDown:hover .dropDown-btn{
    border: rgb(70, 153, 207) solid 1px;
    box-shadow: 0 0 5px 5px rgb(43, 79, 104);
}

.dropDown:hover .dropDown-content{
    display: block;
}

/* footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
}
.footer{
    margin-top: 30px;
    padding: 5px;
    font-size: large;
    color: #f1f1f1;
}